* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: bisque;
    color:black;
    width: calc(100%-50px);
    height: 200px;
    margin: 25px;
    padding: 10px;
    padding-top: 90px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    width: calc(100%-50px);
    margin: 25px;
    text-align: center;
    padding: 16px;
} 
submit_button {
    background-color: black;
    color: white;
    
    
}

div {
    vertical-align: middle;
    width: calc(100%-50px);
    display: inline-block;
    margin-left: 40%;
}