* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color:rgb(3, 91, 103);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin: 50px;
}

button {
    border: darkred;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    width: 120px;
    height: 60px;
    font-size: larger;
    color:darkred;
    background-color: lightgray
}

